Source: utopia-documents
Section: science
Priority: optional
Maintainer: James Marsh <debian@jamesmarsh.net>
Build-Depends: cmake,
               debhelper (>= 9),
               dh-python,
               libboost-dev (>=1.44),
               libboost-filesystem-dev (>=1.44),
               libboost-python-dev (>=1.44),
               libboost-system-dev (>=1.44),
               libboost-thread-dev (>=1.44),
               libexpat-dev,
               libfontconfig-dev,
               libfreetype6-dev (>= 2.3),
               libglew-dev,
               libpcre++-dev,
               libpoppler-dev,   
               libpoppler-private-dev,
               libqt5opengl5-dev,
               libqt5svg5-dev,
               libqt5webkit5-dev,
               libssl-dev,
               libz-dev,
               python-all-dev (>= 2.7),
               python-cssselect,
               python-dev,
               python-imaging,
               python-lxml,
               python-pytest-runner,
               python-setuptools,
               qtbase5-dev,
               qtscript5-dev,
               ruby-sass,
               swig (>=1.3),
               zip,
               zlib1g-dev (>=1:1.0)
Standards-Version: 3.9.8
Homepage: http://utopiadocs.com
X-Python-Version: 2.7

Package: utopia-documents
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-imaging, python-lxml (<< 3.0.0) | python-cssselect, python-lxml, xdg-utils, python-suds
Description: PDF reader that displays interactive annotations on scientific articles
 Utopia Documents is a free PDF reader that connects the static
 content of scientific articles to the dynamic world of online
 content. It makes it easy to explore an article's content and claims,
 and investigate other recent articles that discuss the same or
 similar topics.
 .
 Get immediate access to an article's metadata and browse the
 relationship it has with the world at large. Generate a formatted
 citation for use in your own work, follow bibliographic links to
 cited articles, or get a document's related data at the click of a
 button.
 .
 Various extensions provide links to blogs, online data sources and to
 social media sites so you can see what other researchers have been
 saying about not only the article you're reading but its subject
 matter too.

Package: utopia-documents-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    utopia-documents (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for utopia-documents
 Utopia Documents is a free PDF reader that connects the static
 content of scientific articles to the dynamic world of online
 content.
 .
 This package contains the debugging symbols for utopia-documents.
