include LICENSE.md
include README.md
include utopia/plugins/__init__.py
include utopia/plugins/core/Annotator3dmNG.zip/css/common.css
include utopia/plugins/core/Annotator3dmNG.zip/css/protein.css
include utopia/plugins/core/Annotator3dmNG.zip/git.log
include utopia/plugins/core/Annotator3dmNG.zip/images/3dm-prefs-logo.png
include utopia/plugins/core/Annotator3dmNG.zip/js/common.js
include utopia/plugins/core/Annotator3dmNG.zip/js/libs/jquery.tablesorter.js
include utopia/plugins/core/Annotator3dmNG.zip/js/protein.js
include utopia/plugins/core/Annotator3dmNG.zip/python/Annotator3dmNG.py
include utopia/plugins/core/altmetric.py
include utopia/plugins/core/aspb.zip/images/aspb_logo.png
include utopia/plugins/core/aspb.zip/images/gramene_db_logo.png
include utopia/plugins/core/aspb.zip/images/kegg_db_logo.png
include utopia/plugins/core/aspb.zip/images/nasc_db_logo.png
include utopia/plugins/core/aspb.zip/images/pp_logo.png
include utopia/plugins/core/aspb.zip/images/tair_db_logo.png
include utopia/plugins/core/aspb.zip/images/tpc_logo.png
include utopia/plugins/core/aspb.zip/python/aspb.py
include utopia/plugins/core/biolookup.py
include utopia/plugins/core/citation.zip/images/csl.png
include utopia/plugins/core/citation.zip/python/citation.py
include utopia/plugins/core/crossmark.py
include utopia/plugins/core/definitionvisualiser.py
include utopia/plugins/core/discussion.py
include utopia/plugins/core/documentvisualiser.py
include utopia/plugins/core/dryad.py
include utopia/plugins/core/elife.zip/images/annotation_icon.png
include utopia/plugins/core/elife.zip/images/logo.png
include utopia/plugins/core/elife.zip/python/elife.py
include utopia/plugins/core/figshare.py
include utopia/plugins/core/genecards.zip/images/genecards.png
include utopia/plugins/core/genecards.zip/python/genecards.py
include utopia/plugins/core/geo.py
include utopia/plugins/core/globalstore.py
include utopia/plugins/core/google.py
include utopia/plugins/core/gpcrdb.py
include utopia/plugins/core/highwire.zip/python/highwire.py
include utopia/plugins/core/hosted.zip/images/aspb_logo.png
include utopia/plugins/core/hosted.zip/images/pp_logo.png
include utopia/plugins/core/hosted.zip/images/tpc_logo.png
include utopia/plugins/core/hosted.zip/python/hosted.py
include utopia/plugins/core/hyperlinks.py
include utopia/plugins/core/kendarticlesearch.py
include utopia/plugins/core/lazarus.zip/images/lazarus-prefs-logo.png
include utopia/plugins/core/lazarus.zip/images/pdf-page-icon.png
include utopia/plugins/core/lazarus.zip/python/lazarus.py
include utopia/plugins/core/lazarus.zip/tpl/config.html
include utopia/plugins/core/lazarus.zip/tpl/denied.html
include utopia/plugins/core/legacy.py
include utopia/plugins/core/metadata.py
include utopia/plugins/core/metadatafilter.py
include utopia/plugins/core/nucleardb.py
include utopia/plugins/core/openphacts.zip/images/openphacts.png
include utopia/plugins/core/openphacts.zip/python/openphacts.py
include utopia/plugins/core/overlays.py
include utopia/plugins/core/peerj.zip/images/logo-large.png
include utopia/plugins/core/peerj.zip/images/logo.png
include utopia/plugins/core/peerj.zip/python/peerj.py
include utopia/plugins/core/plos.zip/images/large_logo.jpg
include utopia/plugins/core/plos.zip/images/small_logo.png
include utopia/plugins/core/plos.zip/python/plos.py
include utopia/plugins/core/pmc.py
include utopia/plugins/core/portland.zip/images/biochemj.png
include utopia/plugins/core/portland.zip/python/portland.py
include utopia/plugins/core/pubmed.py
include utopia/plugins/core/pubmedsearch.py
include utopia/plugins/core/reflect.py
include utopia/plugins/core/rsc.py
include utopia/plugins/core/sciencewise.py
include utopia/plugins/core/scraper.py
include utopia/plugins/core/sherparomeo.py
include utopia/plugins/core/springer.zip/images/annotation_icon.png
include utopia/plugins/core/springer.zip/images/gigascience_logo.png
include utopia/plugins/core/springer.zip/images/logo.png
include utopia/plugins/core/springer.zip/python/springer.py
include utopia/plugins/core/webphraselookup.py
