@charset "UTF-8";

html, body {
    line-height: 120%;
    -webkit-user-select: text;
    overflow-x: hidden;
    font-family: sans-serif;
}

* {
    -webkit-user-select: text;
    -webkit-box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

body {
    overflow-y: auto;
    padding: 0;
    background-color: #f8f8f8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

img {
    max-width: 100%;
}

* {
  -webkit-hyphenate-character: "-";
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    border: 2px solid #f8f8f8;

    &:hover,
    &:active {
        background: #818FB4;
    }
}

::-webkit-scrollbar-track {
    background: #f8f8f8;
}



.-papyro-internal-sections {
}

.-papyro-internal-section {
    padding: 1px 0;
    margin: 0;
    background: #f0f0f0;

    & + .-papyro-internal-section {
        margin-top: 2ex;
    }

    &:first-child {
        padding-top: 0;
    }

    .results-view & {
        &:nth-child(4n+1) {
            background: #def;
        }
        &:nth-child(4n+2) {
            background: #ced;
        }
        &:nth-child(4n+3) {
            background: #edc;
        }
        &:nth-child(4n)   {
            background: #ece;
        }
    }

    .-papyro-internal-legend {
        text-align: center;
        padding: 1.5ex 18px;
        color: rgba(0,0,0,0.75);
        font-style: italic;

        &:before {
            content: 'About “';
        }

        &:after {
            content: '”:';
        }

        .document-wide & {
            display: none;
        }
    }

    .-papyro-internal-sub-legend {
        text-align: left;
        padding: 1ex 0 2px 18px;
        font-style: italic;
        color: rgba(0,0,0,0);

        &:before {
            content: 'More online…';
            color: rgba(0,0,0,0.5);
        }

        .document-wide & {
            display: none;
        }
    }

    .-papyro-internal-active:empty {
        display: none;

        & + .-papyro-internal-sub-legend {
            display: none;
        }
    }
}

.-papyro-internal-result {
    position: relative;
    padding: 0;
    margin: 0;

    &:before {
        position: absolute;
        content: ' ';
        background: rgba(255, 255, 255, 0.6);
        left: 0;
        top: 0;
        bottom: 0;
        width: 14px;

        .document-wide & {
            width: 15px;
            background: white;
        }
    }

    &.headless {
        &:before {
            display: none;
        }

        .-papyro-internal-body-wrapper {
            margin-left: 0;
        }
    }

    &.expanded {
        .-papyro-internal-header table:after {
            -webkit-transform: translate(-50%,-50%) rotate(270deg);
        }
    }

    & ~ .-papyro-internal-result {
        margin-top: 1px;
    }

    .-papyro-internal-header {
        -webkit-user-select: none;
        cursor: pointer;
        padding-left: 15px;
        position: relative;

        table {
            width: 100%;
            position: relative;
            background: white;

            &:after {
                left: -8px;
                top: 50%;
                position: absolute;
                display: block;
                content: ' ';
                height: 0;
                width: 0;
                border-style: solid;
                border-width: 4px 6.9px 4px 0;
                border-color: transparent rgba(0, 0, 40, 0.3) transparent transparent;
                -webkit-transform: translate(-50%,-50%) rotate(180deg);
            }

            & col:nth-child(2) {
                width: 1%;
            }

            .-papyro-internal-meta {
                position: relative;
                vertical-align: middle;
                padding: 3px 0;

                .-papyro-internal-title,
                .-papyro-internal-description {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    position: absolute;
                    padding-left: 3px;
                    padding-right: 2ex;
                    left: 0;
                    right: 0;
                }

                .-papyro-internal-title {
                    font-weight: bold;
                    bottom: 50%;
                }

                .-papyro-internal-description {
                    color: #777;
                    top: 50%;
                }
            }

            .-papyro-internal-graphics {
                vertical-align: middle;
                text-align: right;
                padding-right: 3px;

                img {
                    max-width: 30px;
                    display: block;
                }
            }
        }

        .invisible {
            visibility: hidden;
        }
    }

    .-papyro-internal-body-wrapper {
        margin: 0 0 0 15px;
        background: #fff;
    }

    .-papyro-internal-body {
        padding: 6px;

        .-papyro-internal-loading {
            margin: 2px auto;
            width: 32px;
        }

        /**************************************************************************************************
         * Standard content stylings
         */

        .-papyro-internal-content {
            margin: 0;
            padding: 0;
            color: #555;
            word-wrap: break-word;

            h1,
            h2 {
                font-weight: bold;
            }

            h3 {
                font-weight: normal;
            }

            h2,
            h3 {
                font-style: italic;
            }

            table,
            tr,
            td {
                color: inherit;
            }

            ol,
            ul {
                margin-left: 2em;
                margin-right: 0;
            }

            li,
            table {
                margin-top: 0.6em;
                margin-bottom: 0.6em;
            }

            p {
                margin-top: 0.4em;
                margin-bottom: 0.4em;
            }

            p:first-child,
            table:last-child {
                margin-top: auto;
            }

            p:last-child,
            table:last-child {
                margin-bottom: auto;
            }

            & > * {
                &:first-child { margin-top: 0; }
                &:last-child { margin-bottom: 0; }
            }

            table {
                width: 100%;
                border-style: none;

                th,
                td {
                    padding: 0.2em;
                    text-align: inherit;
                }

                col.numeric,
                colgroup.numeric,
                th.numeric,
                td.numeric {
                    text-align: right;
                }

                thead,
                tbody,
                tfoot {
                    padding: 0.2em;
                    border-width: 1px;
                    border-style: inherit;
                    border-color: inherit;
                }

                thead,
                tfoot {
                    background: #D8D8E0;
                }

                thead {
                    text-align: left;
                }
            }

            hr {
                margin: 0.6em 0;
            }

            .box {
                clear: both;
                background: #f0f8ff;
                border-radius: 6px;
                border: 1px solid #e0f0ff;
                padding: 6px;

                & + .box {
                    margin-top: 4px;
                }

                &.error {
                    -webkit-border-image: url(qrc:/images/border-rounded-box-error.png) 5 stretch stretch;
                }
            }

            .right {
                text-align: right;
            }

            .center {
                text-align: center;
            }


            .formula {
                .element {
                    padding: 0 1px;

                    &:first-child {
                        padding: 0 1px 0 0;
                    }
                }

                sub {
                    padding: 0 1px 0 0;
                    font-size:xx-small;
                    position:relative;
                    bottom:-0.3em;
                }
            }

            /**************************************************************************************************
             * Linkable sections
             */

            .linkable .links_wrapper {
                position: relative;

                & > .links {
                    position: absolute;
                    right: 0;
                    left: 0;
                    z-index: 10;
                    background: #ddd;
                    border: solid 1px #aaa;
                }
            }


            /**************************************************************************************************
             * Expandable sections
             */

            .expandable {
                & > .caption {
                    position: relative;
                    cursor: pointer;
                    font-weight: bold;
                    color: #558;
                    padding-left: 14px;
                }

                & > .caption:before {
                    position: absolute;
                    content: ' ';
                    left: 5px;
                    top: 50%;
                    border-style: solid;
                    border-width: 4px 6.9px 4px 0;
                    border-color: transparent rgba(0, 0, 40, 0.3) transparent transparent;
                    -webkit-transform: translate(-50%, -50%) rotate(180deg);
                }

                &.expanded > .caption:before {
                    -webkit-transform: translate(-50%, -50%) rotate(270deg);
                }

                & > .expansion {
                    padding-left: 14px;
                    padding-top: 0.4em;
                }

                & + .expandable {
                    margin-top: 0.8em;
                }
            }

            .limited-height {
                max-height: 120px;
                overflow-y: hidden;
                position: relative;

                & > .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(
                        to top,
                        rgba(255,255,255, 1) 20%,
                        rgba(255,255,255, 0) 100%
                    );
                    padding-top: 4ex;
                    padding-bottom: 0.2ex;
                    text-align: center;
                    font-size: 0.9em;
                }

            }

            .box.limited-height,
            .box .limited-height {
                & > .overlay {
                    background: linear-gradient(
                        to top,
                        rgba(240,248,255, 1) 20%,
                        rgba(240,248,255, 0) 100%
                    );
                }
            }
        }
    }
}





.-papyro-internal-content li,
.-papyro-internal-content p,
.-papyro-internal-hyphenate {
    /* FIXME once hyphenation works */
    -text-align: justify;
}

.-papyro-internal-nohyphenate {
    text-align: left !important;
}





/**************************************************************************************************
 * Expandable sections
 */

.-papyro-internal-citation + .-papyro-internal-citation {
    margin-top: 1ex;
}

.-papyro-internal-citation .links a {
    &:before { content: ' ['; }
    &:after  { content: '] '; }
}
